.hero-news {
    background-image: url('../assets/news.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sub-titles {
    color: black;
    font-size: 22px;
    font-weight: 400;
}